
// Primary
$color-primary-red: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);

// - Dark desaturated cyan (graphic design text)
$color-primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
// - Dark blue (photography text)
$color-primary-dark-blue: hsl(198, 62%, 26%);
// - Dark moderate cyan (footer)
$color-primary-dark-moderate-cyan: hsl(168, 34%, 41%);

// Neutral

// - Very dark desaturated blue
$color-neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);

// - Very dark grayish blue
$color-neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);

// - Dark grayish blue
$color-neutral-dark-greyish-blue: hsl(232, 10%, 55%);

// - Grayish blue
$color-neutral-grayish-blue: hsl(210, 4%, 67%);

// - White
$color-white: hsl(0, 0%, 100%);