.section--header__hero {
  background-image: url("../images/desktop/image-header.jpg");
  .nav {
    padding: 1.5rem;
    &--logo {
      width: 170px;
      margin-top: auto;
      margin-bottom: auto;
      &__link {
        width: 100%;
      }
    }

    &--menu-icon {
      display: none;
    }

    .desktop-nav-elements {
      display: flex;
      align-items: center;

      &--element {
        margin-right: 2rem;

        &:last-of-type {
          margin-right: 0;
        }

        &__link {
          color: white;
          font-size: 1.1rem;
        }
      }
    }
  }

  &--text {
    margin-top: 4%;

    &::after {
      top: 195%;
      left: 49%;
    }
  }
}
