@media screen and (min-width: 900px) {
  .container {
    width: 90%;
  }

  .section--header__hero {
    background-image: url("../images/desktop/image-header.jpg");
    .nav {
      padding: 1.5rem;
      &--logo {
        width: 170px;
        margin-top: auto;
        margin-bottom: auto;
        &__link {
          width: 100%;
        }
      }

      &--menu-icon {
        display: none;
      }

      .desktop-nav-elements {
        display: flex;
        align-items: center;

        &--element {
          margin-right: 2rem;

          &:last-of-type {
            margin-right: 0;
          }

          &__link {
            color: white;
            font-size: 1.1rem;
          }
          .btn {
            cursor: pointer;

            &:hover {
              background-color: rgba($color: white, $alpha: 0.3);
              color: white;
            }
          }
        }
      }
    }

    &--text {
      margin-top: 4%;
      font-size: 3.3rem;

      &::after {
        top: 195%;
        left: 49%;
      }
    }
  }

  .section--about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-auto-rows: minmax(auto, 1fr);
    // grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    &__img {
      width: 100%;
      height: 100%;
    }

    &__description {
      padding: 4rem 7rem;
      text-align: left;
      &--title {
        margin-top: 1rem;
      }
    }

    .description--transform {
      grid-column: 1 / 2;
      grid-row-start: 1;
    }

    .img--egg {
      grid-column: 2 / 3;
      background-image: url("../images/desktop/image-transform.jpg");
    }

    &__options {
      padding: 0;
      padding-top: 60%;
      height: 100%;
      width: 100%;

      &--title {
        // margin-top: 50%;
      }

      &--text {
        width: 27rem;
        margin: 0 auto;
        margin-bottom: 3rem;
      }
    }

    .description--stand-out {
    }

    .img--cup {
      background-image: url("../images/desktop/image-stand-out.jpg");
    }

    &__graphic-design {
      background-image: url("../images/desktop/image-graphic-design.jpg");
    }

    &__photography {
      background-image: url("../images/desktop/image-photography.jpg");
    }
  }

  .container--flex {
    display: flex;
  }

  .section--testimonials {
    &__heading {
      margin-bottom: 3rem;
    }

    &__testimonial {
      margin-right: 2rem;
      &:last-of-type {
        margin-right: 0;
      }

      &--text {
        font-size: 1.3rem;
      }
    }
  }

  .section-showcase {
    grid-template-columns: repeat(4, 1fr);
  }

  .section--footer {
    &__logo {
      &--img {
        margin: 3rem auto;
      }
    }

    &__links {
      justify-content: center;

      &--link {
        margin-right: 4rem;
      }
    }

    & &__socials {
      margin-top: 4rem;

      &--social {
        margin-bottom: 3rem;
      }
    }
  }
}
